*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    position: relative;
    background-image: linear-gradient(#fff,#525151 );
}

.bulut{
    position: absolute;
    width: 200px;
    height: 100px;
    background-color: #525151;
    border-radius: 100px;
    margin-top: 200px;
    animation: bulut 8s alternate linear infinite;
    z-index: 2;
}

.quyosh{
    position: absolute;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: yellow;
    margin-left: 900px;
    z-index: 1;
}

.contant{
    display: flex;
    position: absolute;
    margin-top: 440px;
    margin-left: 100px;
    z-index: 3;
}

.tog{
    width: 0;
    height: 0;
    border-left: 330px solid transparent;
    border-bottom: 300px solid rgb(0, 0, 128);
    border-right: 330px solid transparent;
}

.tog2{
    width: 0;
    height: 0;
    border-left: 330px solid transparent;
    border-bottom: 300px solid rgb(0, 0, 128);
    border-right: 330px solid transparent;
    margin-left: -300px;
    margin-top: 100px;
}

.tog3{
    width: 0;
    height: 0;
    border-left: 330px solid transparent;
    border-bottom: 300px solid rgb(0, 0, 128);
    border-right: 330px solid transparent;
    margin-left: -400px;
}

.quyosh{
    animation: quyosh 5s linear infinite;
    animation-delay: 4s;
    animation-direction: alternate  ;
}

@keyframes quyosh{
    from{
        transform: translateY(0);
    }

    to{
        transform: translateY(500px);
    }
}

@keyframes bulut{
    to{
        transform: translate(0);
        color: #fff;
    }

    from{
        transform: translate(1400px);
        background-color: #525151;
    }
}

body{
    animation: body 4s linear alternate infinite;
}

@keyframes body{
    from{
        background-color: #525151;
    }

    to{
        background-color: #fff;
    }
}